:root {
  --text-color: #fff;
  --button-color: #26c6ea;
  --title-color: #0a3853;
  --name-color: #000;
  --backround-button: #0b0e66;

  --font-family: "Inter", sans-serif;
  --second-family: "HeadlandOne", sans-serif;
  --third-family: "Hammersmith One", sans-serif;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: 20px;
}

h1,
h2,
h3,
h4,
p,
pre {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.container {
  width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* HEADER */
.header {
  border-bottom: 4px solid #fff;

  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.head-position {
  display: flex;
  align-items: center;
  background-image: url(../images/background-header-gradient.png),
    url(../images/backgroundlogo.png);
  background-size: cover;
  height: 150px;
  justify-content: center;
}
.navigation-list {
  display: flex;
  column-gap: 38px;
  margin-left: 168px;
  margin-right: 212px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.navigation-list-item {
  color: var(--text-color);
}
.button-sign-in {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: var(--button-color);
  background-color: var(--backround-button);
  border-radius: 80px 0px 80px 0px;
  width: 141px;
  height: 41px;
  margin-right: 49px;
}

/* JOIN CLAN */
.join-clan {
  background-image: url(../images/join-clan-background.png);
  background-repeat: no-repeat;
  height: 740px;

  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.join-clan-position {
  display: flex;
}
.join-list-text {
  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: 400;
  font-size: 20px;
}

.join-clan-button {
  width: 260px;
  height: 80px;
  border-radius: 80px 0px 80px 0px;
  text-align: center;
  color: var(--button-color);
  background-color: var(--backround-button);
  margin-top: 52px;
}
.filter-list {
  margin-left: 598px;
  margin-top: 296px;
}
.filter-item {
  padding-top: 27px;
}

.nav-menu {
  display: flex;
  text-align: center;
  column-gap: 10px;
}
.nav-menu-item {
  color: var(--text-color);
  text-transform: uppercase;
}

.switcher {
  background-image: url(../images/switcher.png);
  height: 20px;
  width: 36px;
}

.arrow {
  background-image: url(../images/arrow.png);
  width: 152px;
  height: 40px;
  text-align: center;
  justify-content: center;
  display: flex;
}
.rectangle {
  background-image: url(../images/Rectangle\ 8.png);
  height: 120px;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.trailer {
  background-image: url(../images/trailer-section-background.png);
  height: 741px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;

  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}
.trailer-button {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: var(--button-color);
  background-color: var(--backround-button);
  border-radius: 80px 0px 80px 0px;
  width: 260px;
  height: 80px;
  margin-top: 331px;
}

.quote-section {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}
.navi {
  background-image: url(../images/navi-background.png);
  height: 704px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}
.navi-title {
  text-align: center;
  padding-top: 58px;
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  color: #141414;
}
.text-icons {
  display: flex;
}

.text-box {
  margin-left: 204px;
  margin-top: 180px;
}

.quote-title {
  width: 1002px;
  margin: 0 auto;
  text-align: center;
  margin-top: 75px;
}
.quote-author {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 8px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  text-align: center;
  color: #000;
}
.quote-author::after {
  content: "";
  background-image: url(../images/Rectangle\ 8.png);
  height: 120px;
  width: 400px;
  display: block;
  margin: 8px auto 0;
}
/* Footer */
footer {
  background-image: url(../images/footer-gradient-min.png),
    url(../images/footer-background.png);
  background-position: center;
  background-repeat: no-repeat;
  height: 223px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding-top: 35px;
  padding-bottom: 25px;
}


.email-list {

}
.email-list-item {
  display: flex;
  width: 665px;
  height: 24px;
  justify-content: space-between;

  color: var(--text-color);
}
.text-icons {
  display: flex;
}

.navi-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 36px;
  margin-left: auto;
  margin-right: auto;
}

.navi-list-item {
  background-color: rgba(255, 255, 255, 0.7);
  width: 320px;
  height: 240px;
  flex-basis: calc((100% - 2 * 36px) / 3);
  
}

.navi-list-image1-4 {
background-image: url(../images/box1-4.png);
width: 152px;
 height: 40px;
}

.navi-list-image2-5 {
  background-image: url(../images/box2-5.png);
 width: 152px;
 height: 40px;

}
.navi-list-image3-6 {
  background-image: url(../images/box3-6.png);
  width: 152px;
 height: 40px;
}
