:root {
  --text-color: #fff;
  --button-color: #26c6ea;
  --title-color: #0a3853;
  --name-color: #000;
  --backround-button: #0b0e66;

  --font-family: "Inter", sans-serif;
  --second-family: "HeadlandOne", sans-serif;
  --third-family: "Hammersmith One", sans-serif;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
  font-style: 20px;
}

h1,
h2,
h3,
h4,
p,
pre {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.container {
  width: 1440px;
}

/* HEADER */
.header {
  border-bottom: 4px solid #fff;
}

.head-position {
  display: flex;
  align-items: center;
  background-image: url(../images/backgroundlogo.png);
  background-size: cover;
  height: 150px;
  justify-content: center;
  opacity: 0.7;
}
.navigation-list {
  display: flex;
  column-gap: 38px;
  margin-left: 168px;
  margin-right: 212px;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: #fff;
}
.navigation-list-item {
  color: var(--text-color);
}
.button-sign-in {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: var(--button-color);
  background-color: var(--backround-button);
  border-radius: 80px 0px 80px 0px;
  width: 141px;
  height: 41px;
  margin-right: 49px;
}

/* JOIN CLAN */
.join-clan {
  background-image: url(../images/join-clan-background.png);
  background-repeat: no-repeat;
  height: 740px;
}
.join-list {
  display: flex;
  flex-direction: column;
  padding-top: 178px;
  margin-left: 204px;
}
.join-list-item {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 2 * 40px) / 3);
  color: var(--text-color);
  font-family: var(--font-family);
}
.join-clan-button {
  width: 260px;
  height: 80px;
  border-radius: 80px 0px 80px 0px;
  text-align: center;
  color: var(--button-color);
  background-color: var(--backround-button);
}
.filter-list {
  justify-content: end;
}

.join-list-image {
  background-image: url();
}
.nav-menu {
  display: flex;
  text-align: center;
  column-gap: 10px;
}
.nav-menu-item {
  color: var(--text-color);
  text-transform: uppercase;
}

.switcher {
  background-image: url(../images/switcher.png);
  height: 20px;
  width: 36px;
}

.arrow {
  background-image: url(../images/arrow.png);
  width: 152px;
  height: 40px;
}
.rectangle {
  background-image: url(../images/Rectangle\ 8.png);
  height: 120px;
  background-repeat: no-repeat;
}
.trailer {
  background-image: url(../images/trailer-section-background.png);
  height: 741px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
.trailer-button {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: var(--button-color);
  background-color: var(--backround-button);
  border-radius: 80px 0px 80px 0px;
  width: 260px;
  height: 80px;
}

.quote-section {
  display: flex;

  justify-content: center;
}
